@model OfferModel
@inject AdminAreaSettings adminAreaSettings
@{
    var defaultGridPageSize = adminAreaSettings.DefaultGridPageSize;
    var gridPageSizes = adminAreaSettings.GridPageSizes;
}
<div class="panel-group">
    @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_offer_details_widgetzones_top", additionalData = Model.Id })
    @if (Model.Id > 0)
    {
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="widgetzones-grid"></div>

                <script type="text/javascript">
                    $(document).ready(function() {
                        $("#widgetzones-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("WidgetZoneList", "Offer", new {offerId = Model.Id}))",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    },
                                    update: {
                                        url: "@Html.Raw(Url.Action("WidgetZoneUpdate", "Offer"))",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    },
                                    destroy: {
                                        url: "@Html.Raw(Url.Action("WidgetZoneDelete", "Offer"))",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors",
                                    model: {
                                        id: "Id",
                                        fields: {
                                            WidgetZoneName: { editable: false, type: "string" },
                                            DisplayOrder: { editable: true, type: "number" },
                                            WidgetZoneId: { editable: false, type: "number" }
                                        }
                                    }
                                },
                                requestEnd: function(e) {
                                    if (e.type == "update") {
                                        this.read();
                                    }
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                pageSize: @(defaultGridPageSize),
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true,
                                pageSizes: [@(gridPageSizes)],
                                @await Html.PartialAsync("_GridPagerMessages")
                            },
                            editable: {
                                confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                mode: "inline"
                            },
                            scrollable: false,
                            columns: [
                                {
                                    field: "WidgetZoneName",
                                    title: "@T("Plugins.Widgets.DailyOffers.WidgetZone.Fields.WidgetZone")"
                                }, {
                                    field: "DisplayOrder",
                                    title: "@T("Plugins.Widgets.DailyOffers.WidgetZone.Fields.DisplayOrder")",
                                    //integer format
                                    format: "{0:0}",
                                    width: 150
                                }, {
                                    command: [
                                        {
                                            name: "edit",
                                            text: {
                                                edit: "@T("Admin.Common.Edit")",
                                                update: "@T("Admin.Common.Update")",
                                                cancel: "@T("Admin.Common.Cancel")"
                                            }
                                        }, {
                                            name: "destroy",
                                            text: "@T("Admin.Common.Delete")"
                                        }
                                    ],
                                    width: 300
                                }
                            ]
                        });
                    });
                </script>
            </div>

            <div class="panel-footer">
                <button type="submit" id="btnAddNewWidgetZone"
                        onclick="javascript:OpenWindow('@(Url.Action("WidgetZoneAddPopup", "Offer", new {offerId = Model.Id, btnId = "btnRefreshWidgetZones", formId = "offer-form"}))', 800, 800, true); return false;"
                        class="btn btn-primary">
                    @T("Plugins.Widgets.DailyOffers.WidgetZone.AddNew")
                </button>
                <input type="submit" id="btnRefreshWidgetZones" style="display: none" />
                <script type="text/javascript">
                    $(document).ready(function () {
                        function btnRef() {
                                //refresh grid
                                var grid = $("#widgetzones-grid").data('kendoGrid');
                                grid.dataSource.read();

                                //return false to don't reload a page
                                return false;

                        }
                        $('#btnRefreshWidgetZones').click(function () {
                            //refresh grid
                            var grid = $("#widgetzones-grid").data('kendoGrid');
                            grid.dataSource.read();

                            //return false to don't reload a page
                            return false;
                        });
                    });
                </script>
            </div>
        </div>
    }
    else
    {
        <div class="panel panel-default">
            <div class="panel-body">
                @T("Plugins.Widgets.DailyOffers.WidgetZone.SaveBeforeEdit")
            </div>
        </div>
    }
    @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_offer_details_widgetzones_bottom", additionalData = Model.Id })
</div>